.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;

    @include media(max, 'xs') {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.nav {
    width: 23%;

    @include media(max, 'md') {
        width: 40%;
    }
    @include media(max, 'sm') {
        width: 55%;
        display: none;
        
        
    }

    
}
   

.nav__list {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.nav__item {
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    font-size: $text-font-size;


    
}

.header__clients-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: $text-font-size;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

    @include media(max, 'md') {
        font-size: 25px;
    }
}

.header__login-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: $text-font-size;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

    @include media(max, 'md') {
        font-size: 25px;
    }
   
}

.login__icon {
    width: 24px;
    height: 24px;
    padding-right: 12px;
}

